.slider-wrapper {
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  span {
    margin-left: calc(4% + 5px);
    margin-bottom: 10px;
  }
}

.slider-title {
  color: #e5e5e5;
  font-size: 1.3vw;
  font-weight: 700;
  user-select: none;
}

.slider {
  display: flex;

  &__container {
    display: flex;
    padding: 0 4%;
    transition: transform 300ms ease 100ms;
    width: 100%;
  }

  &:not(&--open) .item:hover .show-details-button {
    opacity: 1;
  }

  &:not(&--open) .item:hover {
    transform: scale(1.5) !important;
  }

  &:not(&--open):hover .item {
    transform: translateX(-25%);
  }

  &:not(&--open) .item:hover ~ .item {
    transform: translateX(25%);
  }
}
