.slider-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  padding: 0;
  z-index: 4;

  span {
    width: 4%;
    color: #fff;
    margin: 0 auto;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider-arrow {
  font-size: 30px;
}
